html {
    background-color: #f2f2f2;
}

.container-backend {
    width: 100%;
    float: left;
    height: 700px;
}

.container a {
    float: left;
}

.dropdown-menu {
    background: RGB(52, 152, 219);
    color: white;
}

.dropdown-item:hover {
    background-color: #4c9cff;
    transition: 1s;
    color: white;
}

.navbar-laravel {
    background-color: #3498db;
}

a.dropdown-toggle {
    color: #fff;
}

.sidebar {
    height: 100%;
    background-color: grey;
    margin-top: -40px;
    margin-bottom: 9px;
}

.bar {
    float: left;
    width: 100%;
    height: 100px;
    background-color: #fff;
    margin-top: -25px;
    margin-bottom: 25px;
    box-shadow: 7px 2px 10px #888888;
}

p.title {
    float: left;
    font-size: 20px;
    color: #000;
}

nav.backend-nav ul {
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

nav.backend-nav ul li {
    width: 100%;
    height: 40px;
    background-color: #585858;
    padding: 7px;
    padding-left: 22px;
    text-decoration: none;
    list-style-type: none;
}

nav.backend-nav ul a {
    text-decoration: none;
    list-style-type: none;
    color: #fff;
}

nav.backend-nav ul li a {
    font-size: 15px;
    text-align: left;
    text-decoration: none;
    list-style-type: none;
}

p.nav {
    float: left;
    padding-left: 10px;
    padding-top: 2px;
}

i.material-icons {
    float: left;
}

nav.backend-nav li:hover {
    background-color: #2777b0;
    border-left: 4px solid #1bcdc5;
    transition: all 0.1s ease-in-out;
}

.alert {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.photo-name {
    width: 75px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
}

p.user-name {
    margin-top: 10px;
    color: #fff;
    font-size: 20px;
    width: 75px;
    text-align: center;
    line-height: 30px;
}

.photo-name img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 36px;
}

.loginwelcome {
    font-size: 20px;
    padding: 20px;
    color: #000;
}

.tab-content .tabs {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
}

.tabs ul.nav.nav-pills.nav-pills-primary {
    position: relative;
    margin: 0 auto;
}

.tab-content li a {
    margin-left: 70px;
}

.tabs, i.material-icons li:hover {
    transition: all 0.5s ease-in-out;
    color: #1bcdc5;
}

.panel-heading a {
    float: right;
    list-style-type: none;
    color: #000;
}

.panel-heading a:hover {
    color: #1bcdc5;
    transition: all 0.5s ease-in-out;
}

.container-photo {
    position: relative;
}

.image {
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    width: 225px;
    height: 225px;
    margin-top: 10px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container-photo:hover .image {
    opacity: 0.7;
}

.container-photo:hover .middle {
    opacity: 1;
}

i.material-icons.delete {
    font-size: 30px;
    color: #ff0000;
}

i.material-icons.update {
    font-size: 30px;
    color: #fbc02d;
}

i.material-icons.collections {
    font-size: 30px;
}

.text {
    background-color: #03a9f4;
    color: white;
    font-size: 16px;
    padding: 16px 40px;
}

table th {
    width: 150px;
}

h1.header-title {
    margin-top: 45px;
    margin-left: 30px;
    color: #5a5a5a;
    font-size: 30px;
}

.btn-action {
    margin-right: 8px !important;
}

a.foto {
    margin-bottom: 20px;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    font-size: 15px;
    color: white;
}

.addimage a {
    margin-left: 80px;
    margin-bottom: 50px;
}

.table td, .table th {
    padding: 0.5rem;
}

.account {
    margin: 0 auto;
}

p.name {
    float: right;
    font-size: 1.6em;
    margin-top: 50px;
    margin-right: 100px;
}

hr.border {
    float: right;
    width: 100%;
}

p.foto {
    float: left;
    margin-top: 30px;
    padding-right: 20px;
}

.update-btn {
  margin-left: 100px;
  margin-top: 20px;
}

img.account {
    margin: 0 auto;
    width: 150px;
    float: left;
    margin-left: 60px;
}

.full-width {
    padding-left: 0;
    padding-right: 0;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    background-color: #3490dc;
}

.foto-pagina {
    float: right;
    text-decoration: none;
    list-style-type: none;
    margin-top: -100px;
}

.pagename {
    color: #000;
    height: 500px;
}
.bottom-80 {
  margin-bottom: 80px;
}

@media (min-width: 600px) {
    .container-backend {
        width: 75%;
    }

    .sidebar {
        height: 950px;
        float: left;
        width: 25%;
        margin-top: -25px;
    }

    .photo-name img {
        width: 150px;
        height: 150px;
    }

    p.user-name {
        width: 150px;
    }

    .photo-name {
        width: 150px;
    }

    nav.backend-nav {
        margin-top: 70px;
    }

    .table td, .table th {
        padding: 0.75rem;
    }
    p.upload {
        float: left;
        margin-left: 150px;
        margin-top: 25px;
    }
    img.account {
      margin-left: 100px;
    }
    p.foto {
        margin-left: 110px;
    }
    .update-btn {
      margin-top: 0;
    }
}

@media (min-width: 1080px) {
    .container-backend {
        width: 80%;
    }

    .sidebar {
        height: 950px;
        float: left;
        width: 20%;
        margin-top: -25px;
    }

    .photo-name img {
        width: 200px;
        height: 200px;
    }

    p.user-name {
        width: 200px;
    }

    .photo-name {
        width: 200px;
    }

    /* nav.backend-nav ul li {
        padding-left: 40px;
    } */
}
