section {
    padding: 40px 0;
    background-color: white;
    color: black;
}

section h1 {
    font-weight: bold;
    font-style: italic;
}

.voorstelling {
    margin-top: 25px;
    width: 100%;
    background-color: black;
}

.voorstelling img {
    width: 100%;
    height: 150px;
}

.voorstelling p {
    font-weight: bold;
    color: white;
    padding: 5px 10px;
    margin: 0;
}

.voorstelling,
.voorstelling * {
    box-sizing: border-box;
}

.voorstelling {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.voorstelling img {
    max-width: 100%;
}

.voorstelling .hvrbox-layer_bottom {
    display: block;
}

.voorstelling .hvrbox-layer_top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 152, 219, 0.6);
    color: #fff;
    padding: 15px;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.voorstelling:hover .hvrbox-layer_top,
.voorstelling.active .hvrbox-layer_top {
    opacity: 1;
}

.voorstelling .hvrbox-text {
    text-align: center;
    font-size: 16px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.voorstelling .hvrbox-text>i {
    font-size: 48px;
}

.voorstelling .hvrbox-text_mobile {
    font-size: 15px;
    border-top: 1px solid rgb(179, 179, 179);
    /* for old browsers */
    border-top: 1px solid rgba(179, 179, 179, 0.7);
    margin-top: 5px;
    padding-top: 2px;
    display: none;
}

.voorstelling.active .hvrbox-text_mobile {
    display: block;
}
